@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

/* nav section */

.center{
    display: flex;
    align-items: center;

}
.nav{
    min-height: 5rem;
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: #000000;
    opacity: 0.8;
}
.nav ul{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
}
li{
    list-style: none;
    padding: 5rem 2rem;
    transition: background-color 0.3s;
}
a{
    position: relative;
    opacity: 1;
    z-index: 22;
    font-size: 1.5rem;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-style: italic;

}
li:hover{
    background-color: crimson;
}
/* header section */
img{
    background-size: cover;
    background-repeat: no-repeat;
    background: center;
    background-position: center;
    width: 100%;
    height: 100vh;
}